
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text: #0b1b1d;
    --background: #e9f4f7;
    --primary: #29656a;
    --secondary: #8d85d1;
    --accent: #553c9a;
  }
  .dark {
    --text: #e1f2f4;
    --background: #081316;
    --primary: #95d0d6;
    --secondary: #362e7a;
    --accent: #7e65c3;
  }
}
  
  
/* space between header and footer */
main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}




