
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text: #0b1b1d;
    --background: #e5fff7;
    --primary: #d9f9f0;
    --secondary: #8d85d1;
    --accent: #553c9a;
    --card:#ffffff;
  }
  .dark {
    --text: #d7fef2;
    --background: #001a12;
    --primary: #0371a0;
    --secondary: #0371a0;
    --accent: #553c9a;
    --card:#0371a0;
  }
}
  
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}


/* remember for space between header and footer */
main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}

header {
  position: sticky;
  top: 0;
  z-index: 50; 
  width: 100%;
}


